.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* .section-a {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/1600x900/?nature);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
*/
  
  .hero-inner {
    text-align: center;
    max-width: 600px;
  }
  
  .animate-normal {
    -webkit-animation: animateIn 1000ms ease forwards;
            animation: animateIn 1000ms ease forwards;
  }
  
  .animate-delay {
    -webkit-animation: animateIn 1000ms ease 300ms forwards;
            animation: animateIn 1000ms ease 300ms forwards;
  }
  
  @-webkit-keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  